@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: Lato;
    background-color: #F2F2F2;
    color: #3F4F59;
}

thead {
    font-size: 115%;
}

a {
    color: #587AA6;
    transition: color 0.3s ease;
}

a:hover, a:active {
    color: #96C6D9;
}

p {
    font-size: 110%;
}

img {
    padding-top: 2em;
    margin-right: 3em;
}

.detail-text {
    margin-top: 1em;
    word-wrap: normal;
}

.center {
    text-align: center;
}